.Filler
{
  height: 25vh;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
}
.projects-section-Container {
    display: flex;
    flex-direction: column;
  }

  .project-Collumn-Container {
    display: flex;
    flex-direction: row; 
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .Main{
    position: relative; 
    display: inline-block;
  }
  .Main img{
      width: 50vw;
      height: 45vh;
      display: block; 

  }
  .Second img{
      width: 50vw;
      height: 22.5vh;
      display: block;
      flex-direction: column;
  }
  
  .project-overlay {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-overlay:hover .overlay-text {
    opacity: 1;
}
.project-overlay:hover img {
    filter: brightness(0.7);
}
